@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

:root{
    --text-foreground: rgb(42, 36, 75);
    --text-background: rgb(249, 249, 249);
}

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
button:hover{
    background-color: rgb(202, 202, 202);
    transition: all  0.2s;
}
a:hover{
    color: rgb(11, 9, 19);
    transition: all  0.2s;
    font-weight: bold;
    cursor: pointer;
}

body {
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.logo {
    padding-left: 30px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    padding: 1.2rem 0;
    margin: 0 1rem;
    border-bottom: 2px rgba(0, 0, 0, 0.10) solid;
}
.basic-link{
    color: var(--text-foreground);
}
.navigation-right {
    display: flex;
    gap: 20px;
}

.header-sections{
    width: 48%;
    display: flex;
    margin: 20px auto;
    list-style: none;
    color: var(--text-foreground);
    font-size: 1.1rem;
    justify-content: space-around;
}

.main-content {
    max-width: 100vw;

    margin-top: 5rem;
}
.main-content > section {
    padding: 0 5%;
}
.main-poster {
    display: flex;
    color: whitesmoke;

}

.main-poster-left{
    width: 55%;
    display: flex;
    flex-direction: column;
    padding: 50px;
    background: var(--text-foreground);
}
.main-poster-right{
    width: 45%;
    height: auto;
}

.main-poster-header{
    font-size: 2.2rem;
    font-weight: normal;
}

.main-poster-link {
    background: rgb(82, 77, 110);
    width: fit-content;
    margin-top: 50px;
    text-decoration: none;
    color: whitesmoke;
    padding: 20px 30px;
}

.main-poster-subtext {
    margin-top: auto;
    font-size: 1.2rem;
    font-weight: lighter;
}

.difference-section {
    color: var(--text-foreground);
    font-weight: lighter;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 50px ;
}

.difference-section-header {
    text-align: center;
}

.difference-section-items {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    font-weight: normal;

}

.difference-section-item {
    display: flex;
    flex-direction: column;
    gap: 15px ;
}

.new-products-section{
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    color: var(--text-foreground);
}

.new-products-section-header{
    font-size: 2rem;
    margin-bottom: 3rem;
    align-self: start;
}

.new-products-section-items{
    display: flex;
    justify-content: space-between;
}

.new-products-section-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.2rem;
}
.new-products-section-link {
    margin-top: 3rem;
    text-decoration: none;
    width: fit-content;
    color: var(--text-foreground);
    align-self: center;
    padding: 1.2rem 2.2rem;
    background: var(--text-background);
    font-size: 1.1rem;
}

.populars-section {
    margin-top: 9rem;
    color: var(--text-foreground);
    display: flex;
    flex-direction: column;
}

.populars-section-header {
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

.populars-section-items{
    display: flex;
    justify-content: space-between;
}
.populars-section-item{
    display: flex;
    flex-direction: column;
    gap: 16px;
    font-size: 1.2rem;
}

.populars-section-link{
    margin-top: 3rem;
    text-decoration: none;
    width: fit-content;
    color: var(--text-foreground);
    align-self: center;
    margin-bottom: 1rem;
    padding: 1.2rem 2.2rem;
    background: var(--text-background);
    font-size: 1.1rem;
}

.contact-section{
    padding: 5rem;
    background: rgb(249, 249, 249);

}

.contact-section-container{
    padding: 8rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    color: var(--text-foreground);
    background: white;
}

.contact-container-header{
    font-size: 2.4rem;
}

.contact-container-text{
    text-align: center;
    font-size: 1.1rem;
}

.contact-form{
    width: 45%;
    display: flex;
    justify-content: center;
}
.contact-form label{
    flex-grow: 1;
}
.contact-form-button{
    padding: 1.2rem 2.2rem;
    border: none;
    font-size: 1.1rem;

    background: var(--text-foreground);
    color: var(--text-background);
}

.contact-form-input{
    width: 100%;
    height: 100%;
    border: none;
    padding-left:1.2rem;
    background: var(--text-background);
}
.contact-form-input:focus, .contact-form-input:active{
    background: #dfdfdf;
    outline: none;
}

.ideals-section{
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.ideals-section-container{
    display: flex;
    justify-content: space-between;
}

.ideals-container-left{
    padding: 5rem 5rem 0;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    color: var(--text-foreground);

}

.ideals-container-right{
    width: 50%;
    height: auto;
}

.ideals-section-link{
    margin-top: auto;
    width: fit-content;
    padding: 1.2rem 2.2rem;
    background: var(--text-background);
    margin-bottom: 15%;
    text-decoration: none;
    font-size: 1.1rem;
    color: var(--text-foreground);
}

.footer{
    background: var(--text-foreground);
    color: var(--text-background);
    padding: 5rem 5rem 0;
}

.footer-links{
    display: flex;
    justify-content: space-between;
}
.footer-links-container{
    width: 42%;
    display: flex;
    justify-content: space-between;
 }

.footer-contact{
    display: flex;
    flex-direction: column;
    gap:10px;
    width: 49%;
}
.footer-links-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap:13px;
    font-size: 1rem;

}
.footer-links a{
    color: var(--text-background);
}
.footer-links-list p:nth-child(1){
    font-weight: bold;
}

.footer-contact-form{
    display: flex;
}
.footer-contact-form > label{
    flex-grow: 1;
}

.footer-contact-form-button{
    padding: 1.2rem 2.2rem;
    border: none;
    font-size: 1.1rem;

    color: var(--text-foreground);
    background: var(--text-background);
}

.footer-contact-form-input{
    width: 100%;
    height: 100%;
    border: none;
    padding: 0 1.7rem;
    background: rgb(73, 68, 101);
    font-size: 1.08rem;
    text-align: left;
    color: var(--text-background);

}
.footer-contact-form-input:active, .footer-contact-form-input:focus{
    background: #555555;
    outline: none;

}
.footer-contact-form-input::placeholder{
    color: var(--text-background);
}

.footer-info {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
    border-top: 1px solid #4e4c92;
}



